<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Explore some of my recent projects using different technologies
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail6.png" alt="udemy">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Next JS</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">TypeScript</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">MongoDb</span>
                            <span class="project-tag">Vercel</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">AdiChat – AI-Powered Conversational Assistant</h3>
                        <p class="project-description">
                            AdiChat – Your smart AI buddy built with Next.js and Vercel, ready to chat anytime, anywhere!
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/AdiChat" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://adichat.vercel.app/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail2.jpg" alt="Ener Tracker">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">Clerk</span>
                            <span class="project-tag">MongoDB</span>
                            <span class="project-tag">Clipdrop Api</span>
                            <span class="project-tag">Razorpay</span>
                            <span class="project-tag">Vercel</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Bg-Removal</h3>
                        <p class="project-description">
                            A web tool to instantly remove image backgrounds with a single click.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/bg-removal" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://remove-bg-ap.vercel.app/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail1.jpg" alt="Ambulance Navigation System">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Python</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">JavaScript</span>
                            <span class="project-tag">GitHub</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">V Curate</h3>
                        <p class="project-description">
                            A simple and user-friendly Chrome extension page that guides users to download YouTube videos using a custom Python-powered tool.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/V-Curate" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://adii-1906.github.io/V-Curate/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail4.jpg" alt="PitchPro">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">React</span>
                            <span class="project-tag">Vite</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">Express</span>
                            <span class="project-tag">MongoDB</span>
                            <span class="project-tag">Socket.IO</span>
                            <span class="project-tag">Vercel</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">QuickChat</h3>
                        <p class="project-description">
                            A real-time chat application with user authentication, built using MERN stack and Socket.IO.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/Chat-app" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://chat-app-adii-1906s-projects.vercel.app" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail5.jpg" alt="todoapp">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">Express</span>
                            <span class="project-tag">MongoDB</span>
                            <span class="project-tag">ImageKit</span>
                            <span class="project-tag">Gemini</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">QuickBlog</h3>
                        <p class="project-description">
                            A fast and minimalist blogging platform for quick content sharing and reading.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/Blog-app" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://blog-quick.vercel.app/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail7.jpg" alt="todoapp">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">Express</span>
                            <span class="project-tag">MongoDB</span>
                            <span class="project-tag">Razorpay</span>
                            <span class="project-tag">Stripe</span>
                            <span class="project-tag">Cloudinary</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Forever</h3>
                        <p class="project-description">
                            Forever is an innovative online shopping platform offering a diverse range of high-quality products with a focus on convenience, choice, and customer satisfaction.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/E-commerce" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://forever-ap.vercel.app/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail3.png" alt="Freelance retail billing software">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">React Icons</span>
                            <span class="project-tag">Vercel</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Spotify Clone 🎶</h3>
                        <p class="project-description">
                            A sleek and responsive Spotify clone that lets users explore, play, and enjoy music with a real-time audio player and modern UI.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/adii-1906/Spotify-clone" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://spotify-clone-ap.vercel.app/" class="project-link" target="_blank">
                                Visit Website <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>